$text-light: #c2c3ca;
$text-grey: #777777;
$text: #606060;

$primary: #f59689;
$primary-light: #f8decd;
$primary-dark: #c4786d;

$blue: #538697;
$green: #c2dacd;
$creme: #fef9f5;
$peach: #FFF3ED;
$pink: #FFB1A7;
$yellow: #FFDFB7;
$dark-yellow: #FFB75B;
$dark-blue: #121C37;
$orange: #EB785B;

$pastel-blue: #DDEFFF;
$pastel-yellow: #FFF0DD;
$pastel-orange: #FFF3ED;
$pastel-creme: #FEF9F5;
$pastel-pink: #FDE8DD;
$pastel-green: #CBDDD3;
